body{
font-family: Arial, sans-serif;
padding:20px;
max-width:600px;
margin:auto;
}

#letters{
font-size:32px;
letter-spacing:10px;
margin-top:20px;
margin-bottom:10px;
}

button{
margin-top:10px;
margin-right:10px;
padding:10px;
}

input{
width:100%;
padding:10px;
font-size:18px;
}

#feedback{
margin-top:20px;
font-weight:bold;
}

#stats{
margin-bottom:20px;
}
